<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      throwConfigExceptions = "true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>


    <target
      xsi:type="Database"
      name="database">
      <commandText>
        INSERT INTO dbo."Logs"(
        "MachineName", "Logged", "Level", "Message", "Logger", "Callsite", "Exception")
        values (@MachineName, @Logged, @Level, @Message,@Logger, @Callsite, @Exception);
      </commandText>
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@Logged" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Callsite" layout="${callsite}" />
      <parameter name="@Exception" layout="${exception:tostring}" />

      <connectionString>Data Source=LAPTOP-3FLJD8FE\SQLEXPRESS;Initial Catalog=IndividualsDB;Integrated Security=True;</connectionString>
    </target>
    <!-- database target -->
 
  </targets>



  <rules>
   
    <logger name="*" minlevel="Error" writeTo="database" />
  </rules>
</nlog>